body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: rgba(0, 119, 255, 0.747);
    width: 98vw;
    height: 50vh;
}
h1{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
    position: absolute;
    top: 27%;
    left: 40%;
}
main{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 450px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507); 
}
input{
    border-radius: 6px;
    padding: 5px;
}
footer{
    color: white;
    position: absolute;
    top: 65%;
    left: 43%;
}
